@page
@model MascotaFeliz.App.Frontend.Pages.ListModel
@{
}


<h1>Listado de Mascotas </h1>
<form method="get">
    <div class="form-group">

        <p>
            Mascota: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda" />
            <input type="submit" value="Filtrar" />
        </p>
</form>
<table class="table">
    @foreach (var mascota in Model.Mascota)
    {
        <tr>
            
            
            <td>@mascota.id</td>
            <td>@mascota.Nombre</td>
            <td>@mascota.Edad</td>
            <td>@mascota.Tipo</td>
            <td>@mascota.Raza</td>
            <td>@mascota.Color</td>
            <td>@mascota.Dueño</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetailMascota" asp-route-mascotaid="@mascota.id">
                    <i class="fas fa-info-circle fa-lg"></i </a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./editarMascota" asp-route-mascotaid="@mascota.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
            </td>



        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Adicionar Saludo</a>