@page
@model MascotaFeliz.App.Presentacion.Pages.DetailsModelVeterinario
@{
}
<h2>Datos detallados del Veterinario</h2>
<div>
    Identificación: @Model.Veterinario.TipoId
</div>
<div>
    Tipo de Identificación: @Model.Veterinario.TipoId
</div>
<div>
    Nombres: @Model.Veterinario.Nombres
</div>
<div>
    Apellidos: @Model.Veterinario.Apellidos
</div>
<div>
    Número Telefono: @Model.Veterinario.NumeroTelefono
</div>
<div>
    Correo: @Model.Veterinario.Correo
</div>
<div>
    Género: @Model.Veterinario.Genero
</div>
<div>
    Tarjeta Profesional: @Model.Veterinario.TarjetaProfesional
</div>
<div>
    Código Profesional: @Model.Veterinario.CodigoProfesional
</div>
<a asp-page="./List" class="btn-default">Volver a la lista de los veterinarios</a>

