@page
@model MascotaFeliz.App.Presentacion.Pages.DetailsModelDueño
@{
}
<h2>Datos Detallados del Dueño</h2>
<div>
    Id Persona: @Model.Dueño.TipoId
</div>
<div>
    Id TipoId: @Model.Dueño.TipoId
</div>
<div>
    Id Nombres: @Model.Dueño.Nombres
</div>
<div>
    Id Apellidos: @Model.Dueño.Apellidos
</div>
<div>
    Id NumeroTelefono: @Model.Dueño.NumeroTelefono
</div>
<div>
    Id Correo: @Model.Dueño.Correo
</div>
<div>
    Id Genero: @Model.Dueño.Genero
</div>
<div>
    Id Dirección: @Model.Dueño.Direccion
</div>
<div>
    Id Ciudad: @Model.Dueño.Ciudad
</div>
<div>
    Id País: @Model.Dueño.Pais
</div>
<a asp-page="./List" class="btn-default">Volver a la Lista de Dueños</a>
