@page
@model MascotaFeliz.App.Frontend.Pages.ListModel
@{
}

<style>

.wrapper {
    text-align: center;
}

}
</style>
<div class="wrapper">
    <h1>Listado de Visitas Domiciliaras</h1>
</div>

<form method="get">
    <div class="form-group">
    <div class="wrapper">
        <p>
            Visita Domiciliaria por Medicinas: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda" />
            <input type="submit" value="Filtrar" />
        </p>
    </div>
</form>
<table class="table">
    <tr>
        <td>Fecha</td>
        <td>ID</td>
        <td>Temperatura</td>
        <td>Peso</td>
        <td>Frecuencia Cardiaca</td>
        <td>Frecuencia Respiratoria</td>
        <td>Estado de Animo</td>
        <td>Medicinas</td>
        <td>Remisión</td>
        <td>Código profesional</td>
        <td>Mascota</td>
    </tr>
    @foreach (var saludo in Model.visitaDomiciliarias)
    {
        <tr>
            <td>@saludo.FechaHoraVisita</td>
            <td>@saludo.Id</td>
            <td>@saludo.Temperatura</td>
            <td>@saludo.Peso</td>
            <td>@saludo.FrencuenciaCardiaca</td>
            <td>@saludo.FrencuenciaRespiratoria</td>
            <td>@saludo.EstadoAnimo</td>
            <td>@saludo.Medicinas</td>
            <td>@saludo.Remision</td>
            <td>@saludo.Encargado.CodigoProfesional</td>
            <td>@saludo.Paciente.Nombre</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-visitaDomiciliariaId="@saludo.Id">
                    <i class="fas fa-info-circle"></i></a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-visitaDomiciliariaId="@saludo.Id">
                    <i class="far fa-edit"></i>
                </a>
            </td>
             <td>
                <a class="btn btn-primary table-btn" asp-page="./Delete" asp-route-visitaDomiciliariaId="@saludo.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>



        </tr>
    }
</table>

<div class="wrapper">
    <a asp-page=".\Edit" class="btn btn-primary">Adicionar Visita Domiciliaria</a>
</div>
